<%= form_for(@message) do |f| %>
  <%= render "shared/error_messages", :target => @message %>
  <div class="field">
	<p>
	<% for member in @members %>
	  <% if member.id == @user.id %>
		<p>same user</p>
	  <% else %>
      <%= check_box_tag "recipients[]", "#{member.id}", false, :style => "clear:both" =%>
		<%= member.first_name %> <%= member.last_name %>
	  <% end %>
    <% end %>
	</p>
  </div>

  <div class="field">
    <%= f.text_area :body, :rows => '2'%> <%= f.submit %>
  </div>
<% end %>
