<p><%= link_to 'Back', messages_path %></p>
<table>
<% @messages.each do |message| %>
  <tr>
    <td width="20%"><%= message.user.first_name %> <%= message.user.last_name %></td>
    <td width="50%"><%= message.body %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= form_for @message, :url => reply_message_path, :method => :post, :html => { :id => 'reply_message_form' } do |f| %>
    <%= render "shared/error_messages", :target => @message %>

  <div class="field">
	<%= hidden_field :message, :folder_id %>
    <%= f.text_area :body, :rows => '2'%> <%= f.submit 'Reply' %>
  </div>
<% end %>
