<div style="left:200px; position:absolute; top:5px;">
<%= render "shared/error_messages", :target => @session %>
</div>
<div id="login_box" >
	<div id="login_box_left" >
	<h3>Sign in</h3>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

	<%= form_for @session, :url => sessions_path, :method => :post, :html => { :id => 'login_form' } do |f| %>
		<div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email, :size => 35, :value => session[:landing_email] %>
	  	</div>
		<div class="field">
		    <%= f.label :password %>
		    <%= f.password_field :password, :size=>35, :maxlength=>35 %>
		</div>
		<a href="password_resets" style="TEXT-DECORATION: NONE"><span class="orange_text" >Forgot password?</span></a>
		<div class="field">
		    <%= f.check_box :remember_me %>
		    <%= label_tag :remember_me, nil, :class=>"follow cb_label" %>
		    <%= submit_tag "Login", :class =>"form_button", :id=>"sign_in_button"%>
		</div>
	
		  <div class="actions follow">
	    	
	     </div>
	<% end %>
	</div>
	<div id="login_box_middle">
		<div>
			<h3>Create a new network</h3>
			<p>Create a private network for a loved one and the members of their care circle. Share news, coordinate activities and get the support you need.</p>
			<%= form_for @session, :url => register_path, :method => :get, :html => { :id => 'register_form' } do |f| %>
			    <div style="float:right"><%= submit_tag "Create Network", :class =>"form_button", :id=>"register_button"%></div>
			<% end %>
		</div>
	</div>
	<div id="login_box_right">
		<div>
			<h3>Join someone's network</h3>
			<p>Want to join an existing network? Caregaroo networks are private, if you want to join someone's network ask them to send you an invite.</p>
			<p style="text-align:right;"><a target="_blank" href="https://caregaroo.zendesk.com/entries/22133826-how-do-i-find-and-join-someone-s-network">Learn more...</a></p>
		</div>
	</div>

</div>
