<div style="left:200px; position:absolute; top:5px;">
<%= render "shared/error_messages", :target => @session %>
</div>
<div id="login_box" >
	<div id="login_box_left" >
	<h3>Sign in</h3>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

	<%= form_for @session, :url => sessions_path, :method => :post, :html => { :id => 'login_form' } do |f| %>
		<div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email, :size=>35, :autocomplete => 'off' %>
	  	</div>
		<div class="field">
		    <%= f.label :password %>
		    <%= f.password_field :password, :size=>35, :autocomplete => 'off' %>
		</div>
		<a href="password_resets" style="TEXT-DECORATION: NONE"><span class="orange_text" >Forgotten password?</span></a>
		<div class="field">
		    <%= f.check_box :remember_me %>
		    <%= label_tag :remember_me, nil, :class=>"follow cb_label" %>
		    <%= submit_tag "Login", :class =>"form_button", :id=>"sign_in_button"%>
		</div>
	
		  <div class="actions follow">
	    	
	     </div>
	<% end %>
	</div>
	<div id="login_box_right">
		<h3>Don't have an account</h3>
		<p>Sign up and create a network around your loved one to share news, feel connected and get help</p>
		<%= form_for @session, :url => register_path, :method => :get, :html => { :id => 'register_form' } do |f| %>
		    <div style="float:right"><%= submit_tag "Sign-up", :class =>"form_button", :id=>"register_button"%></div>
		<% end %>
	</div>

</div>
