<div id="comment_<%= comment.id %>" class="comment" data-time="<%= comment.created_at.to_i %>">
 	<%= image_tag "photo_place_holder.png", :alt => !comment.user.nil? ? comment.user.first_name : 'Anonymous' , :height => "44", :width => "50", :style => "float:left;padding-right:5px" %>
	<div class="comment_content">
		<span class="name_text">
			<% if !comment.user.nil? %>
				<%= link_to comment.user.first_name, user_info_profile_path(comment.user) %> (<%= !comment.user.nil? ? comment.user.network_relationship  : 'Removed' %>)
			<% else %>
				Anonymous (<%= comment.user.nil? ? comment.user.network_relationship : 'Removed' %>)
			<% end %>
		</span>
		<span class="time_text"><%= time_ago_in_words(comment.created_at) %> ago at <%= comment.created_at.strftime('%I:%M %p') %></span> 
		<%= simple_format truncate(comment.content, :length => 200, :omission => '... (Read More)') %>
		<% if !comment.user.nil? && @current_user.id == comment.user.id %>
			<span><%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "orange_text" %></span>
		<% end %>
	</div>
</div>
