<div id="signup_box" >
	<div>
	<%= form_for @user, :id => "invite_form", :url => signup_create_path do |f| %>
		<% flash.each do |name, msg| %>
	  		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<%= render "shared/error_messages", :target => @user %>  
	  
	
		<% if @network %>
			<h3>Welcome to <%=h @network.network_name %></h3>
		<% end %>
		<%= f.hidden_field :network_id %>
	
	  	<p>Create your account.</p><br/>
	  	
	  	<div style="font-size:12px">
		    <%= f.label :email %>
		    <%= f.text_field :email, :size=>35 %><br/><br/>
		    <%= f.label :first_name %>
		    <%= f.text_field :first_name, :size=>35 %><br/><br/>
		    <%= f.label :last_name %>
		    <%= f.text_field :last_name, :size=>35 %><br/><br/>
		    <%= f.label :password %>
		    <%= f.password_field :password, :size=>35 %><br/>
		    <span class="note_text">Password must contain at least 6 characters.</span><br/><br/>
		    <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation, :size=>35 %><br/><br/>
		    <% if @network %>
			<label for="user_network_relationship">Relationship to <%=h @network.network_name %></label>
			<% elsif %>
		    <%= f.label :network_relationship, 'Relationship to the person at the centre of network' %>
		    <% end %>
			<%= f.text_field :network_relationship, :size=>35 %><br/><br/>
			<%= check_box_tag :notification, "", true %> Email me Caregaroo news and announcements.<br/>
			<%= check_box_tag :tos %> I have read and agree to the <a class="tos" href="https://caregaroo.zendesk.com/entries/21360183-terms-of-services" target="_blank">Terms of Services</a>.		
	  	</div>
	  	<br/>		
	  	<p><%= f.submit "Next", :disabled=>"disabled", :class=>"form_button_disabled", :id=>"signup_next_btn" %> </p>
	<% end %>
	</div>
</div>
