<%= form_for @event do |f| %>
  <div class="toolbar">
      <h1>New Event</h1>
      <a href="#" class="cancel">Cancel</a>
      <a href="#" class="button">Save</a>
      
  </div>
  <%= f.hidden_field :network_id %>
  <ul>
    <li class="sep">Type (select)</li>
    <li><%= select_tag("event[event_type_id]", options_from_collection_for_select(@event_types, "id", "name")) %></li>
  </ul>
  <ul>
    <li class="sep">What</li>
    <li><%= f.text_field :name, placeholder: "What..." %></li>
  </ul>
  <ul>
    <li class="sep">When</li>
    <li>from <input type="datetime-local" name="event[start_at]", value="<%= @event.start_at %>" /></li>
    <li>to <input type="datetime-local" name="event[end_at]", value="<%= @event.end_at %>" /></li>
  </ul>
  <ul>
    <li class="sep">Where</li>
    <li><%= f.text_field :location, placeholder: "Where..." %></li>
  </ul>
  <!-- <ul>
    <li class="sep">With</li>    
    <%= hidden_field_tag "event[user_ids][]", nil %>
    <% User.all.each do |user| %>
      <li><%= check_box_tag "event[user_ids][]", user.id, @event.user_ids.include?(user.id), id: dom_id(user), title: user.first_name << ' ' << user.last_name %></li>
    <% end %>
  </ul> -->
  <ul>
    <li class="sep">Description</li>
    <li><%= f.text_area :description, placeholder: "Description" %></li>
  </ul>
  <%= link_to "Submit", "#", :class => "whiteButton submit" %>
  <%= f.submit %>
  <a href="#" class="whiteButton" style="margin: 10px">Save</a>
<% end %>
