<%= stylesheet_link_tag "event_calendar" %>

<%= link_to "Create New Event", new_event_path, class: "orange_button_link create_new_button" %>

<%# raw(event_calendar) %>

<% previous_event_start_date = Time.at(0).to_date  %>
<table>
<% for event in @events %>
  <% unless previous_event_start_date === Time.at(event.start_at).to_date %>
    <tr>
      <td colspan=4 class="event_list_date"><%= event.start_at.strftime("%A, %e %B %Y") %></td><td></td>
    </tr>
  <% end %>
  <%= render partial: "event", object: event  %>
  <% previous_event_start_date = Time.at(event.start_at).to_date %>
<% end %>
</table>
<%= will_paginate @events %>
