<div id="jqt">
  <div id="journal">
    <h1> Journal Page Stub</h1>  
  </div>
  <div id="calendar">
    <div class='toolbar'>
      <!-- <a href="/calendar" rel="external" class="button leftButton">Today</a> -->
      <a href="#" id="today" class="button leftButton">Today</a>
      <a href="#day" id="dayview" class="button centreButton flip">Day View</a>
      <a href="#add_event" class="button add slideup">+</a>
    </div>
    <div id="calendardisplay" class="above-bottom-tabbar">
      <ul>
        <%= render :partial => "event", :collection => @events %>
      </ul>
    </div>
  </div>
  <div id="day">
    <div class='toolbar'>
      <!-- <a href="/calendar" rel="external" class="button leftButton">Today</a> -->
      <a href="#" id="today-day" class="button leftButton">Today</a>
      <a href="#calendar" class="button centreButton flip">Month View</a>
      <a href="#add_event" class="button add slideup">+</a>
    </div>
    <div>
      <ul class="edgetoedge">
        <li id="dayviewdate" class="sep"></li>
      </ul>
      <ul id="dayviewevents" class="edgetoedge">
        <%= render :partial => "event", :collection => @events %>
      </ul>
    </div>
  </div>
  <div id="profile">
    <h1> Profile Page Stub</h1>  
  </div>
  <div id="members">
    <h1> Members Page Stub</h1>  
  </div>
  <div id="event">
    <%= render :partial => 'event_show' %>
  </div>
  <div id="add_event" class="edit">
    <%= render :partial => 'event_form' %>
  </div>
  
  
</div>
<%= render :partial => 'bottom_tabbar' %>
