<div id="user_selector">  
  <% if @current_user %>
  <dl id="user_dropdown" class="dropdown">
    <dt><a href="#"><span style="font-size:14px"><%= 
      image_tag @current_user.avatar_url(:thumb).to_s, class: "dt_icon", height: "30", width: "30" %><%= 
      @current_user.first_name %><div class="dt_arrow"><div class="dt_arrow_bg"></div></div></span></a>
    </dt>
    <dd><ul>
      <li><a href="/profile" style="padding-left:20px;">Settings</a></li>
      <li><%= link_to "My Networks", network_switch_path, :style=>"padding-left:20px;" %></li>
      <li><%= link_to "Log out", logout_path, :style=>"padding-left:20px;" %></li>
    </ul></dd>
  </dl>
  <% else %>
    <%= link_to "Create Community", register_path %> or
    <%= link_to "Member Sign-In", login_path %>
  <% end %>
</div>
