<li id="event_comment_<%= comment.id %>">
  <img alt="<%= comment.user.first_name %>" height="44" src="<%= comment.user.avatar.thumb.url %>" width="50">
  <%= comment.user.first_name %><br/>
  <p class="content"><%= comment.content %></p>
  
  <p class="date"><%= time_ago_in_words(comment.updated_at) || "just a moment" %> ago &nbsp; . &nbsp; 
  <% if comment.user.id == current_user.id %>
    <%= link_to 'Delete', destroy_comment_path(comment), remote: :true, method: :delete, class: 'delete_event_comment' %>
  <% end %></p>
</li>
