<% if @event.is_one_day? %>
<p><%= @event.start_at.strftime("%a %e %b %Y") %> at <%= @event.start_at.strftime("%l:%M %p") %> - <%= @event.end_at.strftime("%l:%M %p") %></p>
<% else %>
<p><%= @event.start_at.strftime("%a %e %b %Y") %> at <%= @event.start_at.strftime("%l:%M %p") %></p>
<p>to <%= @event.end_at.strftime("%a %e %b %Y") %> at <%= @event.end_at.strftime("%l:%M %p") %></p>
<% end %>
<p><%= @event.location %></p>