
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :network_id %>
  
  <div class="event_top_bar"><%= f.submit %> <%= link_to 'Cancel', cancel_path, class: "orange_button_link" %></div>
  <table id="event_form">
    <tr>
      <th>Type: </th>
      <td><%= select_tag("event[event_type_id]", options_from_collection_for_select(@event_types, "id", "name")) %></td>
    </tr>
    <tr>
      <th>What: </th>
      <td><%= f.text_field :name, placeholder: "Event name...", maxlength: 35 %></td>
    </tr>
    <tr>
      <th rowspan="2">When: </th>
      <td><%= f.text_field :start_at, value: (@event.start_at.blank? ? '' : @event.start_at.strftime("%F %I:%M%p")) %> to</td>
    </tr>
    <tr>
      <td><%= f.text_field :end_at, value: (@event.end_at.blank? ? '' : @event.end_at.strftime('%F %I:%M%P')) %></td>
    </tr>
    <tr>
      <th>Description: </th>
      <td><%= f.text_area :description, placeholder: "Details...", maxlength: 1275, rows: 10 %></td>
    </tr>
    <tr>
      <th>With: </th>
      <td><%= hidden_field_tag "event[user_ids][]", nil %>
        <% @event.network.users.each do |user| %>
          <p><%= check_box_tag "event[user_ids][]", user.id, @event.user_ids.include?(user.id), id: dom_id(user), title: user.first_name << ' ' << user.last_name %><%= user.first_name %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><div class="actions">
            <%= f.submit %><%= link_to 'Cancel', cancel_path, class: "orange_button_link" %>
          </div>
      </td>
    </tr>
  </table>
  

<% end %>
