<tr id="<%= dom_id(lastdayevent) %>" class="events_list_row">
  <td></td>
  <td>&raquo;</td>
  <td><%= lastdayevent.end_at.strftime("%l:%M%P") %></td>

  <td class="event_name">&nbsp;&nbsp;<%= link_to truncate(lastdayevent.name), lastdayevent %>&nbsp;&nbsp;</td>
  <td><%= check_box_tag nil, nil, lastdayevent.user_ids.include?(@current_user.id), { 
            class: 'event_sign_up', 
            'data-href' => update_user_event_url(lastdayevent.id) } %> signed up</td>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "", cancel_event_url(lastdayevent), method: :delete, remote: true, confirm: "Delete event: are you sure?", class: "icon-remove", title: "delete" %></td>
</tr>
