<%= link_to "Create New Event", new_event_path, class: "orange_button_link create_new_button" %>
<%= @prev_available ? link_to( "&laquo; prev".html_safe, @prev_link, class: "orange_button_link prev_button") : "<span class='grey_button_link prev_button'>&laquo; prev</span>".html_safe %>
<%= @next_available ? link_to( "next &raquo;".html_safe, @next_link, class: "orange_button_link next_button") : "<span class='grey_button_link next_button'>next &raquo;</span>".html_safe %>
<%= @current_page.to_i == 0 ? "<span class='grey_button_link today_button'>today</span>".html_safe : link_to( "today", "?", class: "orange_button_link today_button") %>


<%= @today %>
----
<%= @today.to_date %>
----
<%= @finish_day %>
----
<%= @dateswithevents %>
----
<%= @events %>
<table>
<% if @dateswithevents.empty? %><%= render :partial => 'no_events_today' %>
<% else %>
  <% if @display_empty_today_banner %><%= render :partial => 'no_events_today' %><% end %>
  <% @dateswithevents.each do |d| %>
    <tr class="events_list_date_row">
      <td colspan=4 class="event_list_date"><%= d.strftime("%a %e %b %Y") %></td><td></td><td></td>
    </tr>
    <% @events.each do |e|  %>
      <% if e.is_on?(d) %>
        <tr class="events_list_row <%= dom_id(e) %>">
        <% if e.is_one_day? %>
          <%= render partial: "onedayevent", object: e  %>
        <% elsif e.begins_on?(d)  %>
          <%= render partial: "firstdayevent", object: e  %>
        <% elsif e.ends_on?(d)  %>
          <%= render partial: "lastdayevent", object: e  %>
        <% else %>
          <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;All day</td>
        <% end %>
          <%= render :partial => 'event', object: e  %>
        </tr>
      <% end %>
    <% end %>
  
  <% end %>

<% end %>

</table>