<p id="notice"><%= notice %></p>

<div class="event_top_bar"><%= link_to 'Show Events', events_path, class: "orange_button_link" %>
  <%= link_to 'Edit', edit_event_path(@event), class: "orange_button_link" %>
  <%= link_to "Delete", cancel_event_url(@event), method: :delete, confirm: "Delete event: are you sure?",
    title: "delete", class: "orange_button_link" %>
</div>
<div id="event_show">
  <%= image_tag @creator.avatar_url(:thumb).to_s, :alt => @creator.first_name, :height => "44", :width => "50",
    :style => "float:left;padding-right:5px" %>

  <h4 class="event_view_name"><%= @event.name %> <%= @event_type %></h4>
  <%= render :partial => 'dateandtime' %>

  <p>
    <b>Description:</b>
    <%= @event.description %>
  </p>

  <p>
    <b>Participants:</b>
    <% userslastindex = @event.users.size - 1 %>
    <% @event.users.each_with_index do |u, index| %>
    <em><%= u.first_name %> <%= u.last_name %></em><%= ", " unless index == userslastindex %>
    <% end %>
  </p>

  <%= render :partial => 'posts/new_comment', :locals => { :post => @event.post, :is_visible => true } %>
  <%= render :partial => 'posts/comments', :locals => { :post => @event.post } %>
  <% if !@event.post.comments.empty? && @event.post.comments.count > 3 %>
    <%= link_to "View all #{pluralize(@event.post.comments.count, " comment")}", post_commments_path(@event.post.id),
      :method => :get, :remote => true, :class => "orange_text" %>
  <% end %>

</div>