<ul class="edgetoedge">
  <li>
  <% creator = @event.creator || @current_user %>
  <%= image_tag creator.avatar_url(:thumb).to_s, :alt => creator.first_name, :height => "44", :width => "50", :style => "float:left;padding-right:5px" %>
  <p><%= @event.start_at.strftime("%A, %-d %B %Y") %></p>
  <p><%= @event.start_at.strftime("%I:%M %p") %> - <%= @event.end_at.strftime("%I:%M %p") %></p>
  <p class="eventsecondline"><%= @event.location %></p></li>
  <li class="sep">Description</li>
  <li><%= @event.name %><br/>
    <em><%= @event.description %></em></li>
  </ul>
