<p id="notice"><%= notice %></p>

<div class="event_top_bar"><%= link_to 'Back', events_path %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to "Delete", cancel_event_url(@event), method: :delete, confirm: "Delete event: are you sure?", title: "delete" %></div>
<%= image_tag @creator.avatar_url(:thumb).to_s, :alt => @creator.first_name, :height => "44", :width => "50", :style => "float:left;padding-right:5px" %>

<p><%= @event.start_at.strftime("%A, %-d %B %Y") %></p>
<p><%= @event.start_at.strftime("%I:%M %p") %> - <%= @event.end_at.strftime("%I:%M %p") %></p>
<p><%= @event.location %></p>

<h4><%= @event.name %> <%= @event_type %></h4>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Participants:</b>
  <% @event.users.each do |u| %>
  <em><%= u.first_name %> <%= u.last_name %></em>, 
  <% end %>
</p>

<p>Comments (<span id="event_comments_count"><%= @event.comments.count %></span>)</p>
<ul id="event_comments">
  <%= render partial: "comment", collection: @event.comments %>
  <%= form_for( @comment, remote: true, format: 'js', html: {id: "new_event_comment"}) do |f| %>
    <input name="within_event" type="hidden" value="true" />
    <%= f.hidden_field :post_id, value: @event.post_id %>
    <%= f.text_field :content, placeholder: "Share a comment", size: 65 %>
    <%= f.submit value: "Comment" %>
  <% end %>
</ul>
