<div class="page-header">
	<h1><%= controller.controller_name.capitalize %></h1>
</div>

<form class="filters form-horizontal">
	<div class="well">
		<% @columns.each_with_index do |column,i| %>
			<!-- NOTE: all @columns must be in the DOM, even those that are not used to filter.
				that's why I'm using display:none -->
	  	<div class="control-group" style="<%= column[:filter] ? '' : 'display:none;' %>">
		    <label class="control-label" for="<%= column[:db_name] %>">
		    	<%= column[:filter_name] || column[:human_name] %>
		    </label>
	    	<div class="controls">
	    		
	    		<% if column[:type] == "select" %>
	    			<select name="<%= column[:db_name] %>" data-index="<%= i %>">
	    				<option value="" selected></option>
	    				<% column[:options].each do |o| %>
	    					<option value="<%= o[:value] %>"><%= o[:name] %></option>
	    				<% end %>
	    			</select>
			    
			    <% elsif column[:type] == "date_interval" %>
			    	<input type="date" name="<%= column[:db_name] %>_1" data-filter-type="date_interval" data-index="<%= i %>"> between 
			    		<input type="date" name="<%= column[:db_name] %>_2" data-filter-type="date_interval" value="<%= Time.zone.now.strftime('%Y-%m-%d') %>" >

			    <% else %>
			      <input type="text" name="<%= column[:db_name] %>" placeholder="<%= column[:human_name] %>" data-index="<%= i %>">
			    <% end %>

	    	</div>
	  	</div>
	  <% end %>
 	</div>
</form>

<table id="<%= "#{controller.controller_name}_list" %>" class="datatable table table-striped table-bordered table-hover" data-source="<%= "/admin/#{controller.controller_name}.json" %>">
	<thead>
		<tr>
			<% @columns.each do |column| %>
				<th class="<%= column[:sortable] === false ? 'no_sort' : '' %>"><%= column[:human_name] %></th>
			<% end %>
		</tr>
	</thead>	
	<tbody></tbody>
</table>