<div id="post_content_<%= post.id %>" class="post_content_area">
  <div id="post_<%=post.id%>_inner_text">
    <% if post.is_event? 
      eventtype = post.event.event_type.nil? ? "" : post.event.event_type.name
      linktext = post.content << " (#{eventtype})"%>
      <% if post.event.is_new? %>
        New Event:
      <% elsif post.event.canceled? %>
          Canceled Event:
      <% else %>
          Updated Event:
      <% end %>
      <% if post.event.canceled? %>
        <span class="post_event_name"><%= linktext %></span>
      <% else %>
        <%= link_to( linktext, event_path(post.event.id), class: "post_event_name" ) %>
      <% end %><br>
      <%= post.event.datetimestring %>
      <%= post.event.locationstring %>
    <% else %>
      <%= raw truncate(CGI::escapeHTML(post.content), length: 320, omission: link_to(' ... (Read More)', post_path(post.id),
                                                        method: :get,
                                                        # being click bound on index.html.erb
                                                        class: "orange_text expand")) %>
      
    <% end %>
    <% if post.photo.try :present? %>
  </div>
  <br/>
    <center style="border: 1px #CCC solid; padding: 3px 2px; width: 370px; margin: 3px 0;">
      <%= image_tag post.photo_url(:small) %> <br> <%#image_tag post.photo_url(:large) %>
    </center>
  <% end %>
</div>
