<h3 class="page_title">News Stream</h3>

<table>
<tr><td><%= render 'form_new' %></td></tr>
  <tr>
    <td>
<% if @posts.count > 0 %>
<% @posts.each do |post| %>
  <div id="post_<%= post.id %>" data-id="<%= post.id %>">
    <div id="news">
       <%= image_tag !post.user.nil? ? post.user.avatar_url(:thumb).to_s : "photo_place_holder.png", :alt => !post.user.nil? ? post.user.first_name : 'Anonymous' , :height => "50", :width => "50", :style => "float:left;padding-right:5px" %>
      <div class="comment_content">
      <span class="name_text"><%= !post.user.nil? ? link_to(post.user.first_name, user_info_profile_path(post.user)) : 'Anonymous' %> (<%= !post.user.nil? ? post.user.network_relationship(@current_user.network.id) : 'Removed' %>)</span>
      <span class="time_text"><%= time_ago_in_words(post.updated_at) %> ago at <%= post.updated_at.strftime('%l:%M %p') %></span> 
      <%= render :partial => "content", :locals => { :post => post } %>

      <ul>
        <li class="comment_links"><span id="comment_<%= post.id %>" post-id="<%= post.id %>" class="orange_text news_comment" style="cursor:pointer">Comment</span></li>  
        <% if !post.comments.empty? && post.comments.count > 3 %> 
          <li style="float:left; width:145px;color:#F47D29"><%= link_to "View all #{pluralize(post.comments.count, " comment")}", post_commments_path(post.id), :method => :get, :remote => true, :class => "orange_text" %></li>
        <% end %>

        <li style="position: relative; float:left; width:95px; color:#F47D29;" class="recipient_list_handle">
          <%= post.recipients.size == 0 ? @current_user.network.users.size : post.recipients.size %> Recipients
          <div class="recipients_drop_down">
            <% if post.recipients && post.recipients.size > 0 then; post.recipients.each do |u| %>
              <%= u.name %> <br/>
              <% end %>
            <% else %>
              Everyone
            <% end %>
          </div>
        </li> 


        <% if !post.user.nil? && @current_user.id == post.user.id %>
          <li style="float:left; color:#F47D29"><%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :class => "orange_text" %></li> 
        <% end %>
      </ul>
      <div class="clear"></div>
      </div>
    </div>
    <div id="comments_<%= post.id %>" class="comments">
      <% unless post.comments.empty? %> 
        <%= render post.comments.first(3) %>  
      <% end %>
    </div>
    <div id="new_comment_section_<%= post.id %>" style="<%= post.comments.empty? ? "display:none" : "display:none" %>" class="new_comment_section" >    
      <%= form_for Comment.new, :remote => true do |f| %>
        <%= f.hidden_field :post_id, :value => "#{post.id}" %>
        <div class="text_background">
        <%= f.text_area :content, :id => "comment_area_#{post.id}", :placeholder => "Share your comment", :class => "comment_textarea", :required => "required"  %>
        </div>
        <%= f.submit "Reply", :class =>"form_button", :id=>"reply_button"%>
      <% end %>
    </div>
    <hr style="margin-top: 10px;"/>
  </div>
<% end %>
<% else %>
  <div id="news">
    <%= image_tag "photo_place_holder.png", :alt => 'Caregaroo' , :height => "50", :width => "50", :style => "float:left;padding-right:5px" %>
    <div class="comment_content">
    <span class="name_text">Caregaroo</span>
    <br/>
    Welcome to Caregaroo! Invite others in your circle of care to join the network. <%= link_to "Invite", invite_path, :class => "orange_text" %><br/>
    <div class="clear"></div>
  </div>
  </div>
<% end %>
   </td>
  </tr>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $('li.recipient_list_handle').hover(
  function(ev){ // in
    var jthis = $(ev.currentTarget)
    if(jthis.data('timeout')){
      clearTimeout(jthis.data('timeout'))
    }
    $(ev.currentTarget).find('.recipients_drop_down:hidden').slideDown()
  }, function(ev){ //out
    var jthis = $(ev.currentTarget)
    jthis.data('timeout', setTimeout(function(){
      jthis.find('.recipients_drop_down').slideUp()
    },1200))
  }).click(function(ev){
    $(ev.currentTarget).find('.recipients_drop_down').slideDown()
    setTimeout(function(){
      $(ev.currentTarget).find('.recipients_drop_down').slideUp()
    },5000)
  })
})
</script>
