<h3 class="page_title">News Stream</h3>

<table>
<tr><td><%= render 'form_new' %></td></tr>
  <tr>
    <td>
<% if @posts.count > 0 %>
<% @posts.each do |post| %>
	<div id="post_<%= post.id %>" data-id="<%= post.id %>">
		<div id="news">
 			<%= image_tag !post.user.nil? ? post.user.avatar_url(:thumb).to_s : "photo_place_holder.png", :alt => !post.user.nil? ? post.user.first_name : 'Anonymous' , :height => "44", :width => "50", :style => "float:left;padding-right:5px" %>
			<div class="comment_content">
			<span class="name_text"><%= !post.user.nil? ? link_to(post.user.first_name, user_info_profile_path(post.user)) : 'Anonymous' %> (<%= !post.user.nil? ? post.user.network_relationship : 'Removed' %>)</span>
			<span class="time_text"><%= time_ago_in_words(post.updated_at) %> ago at <%= post.updated_at.strftime('%I:%M %p') %></span> 
			<div id="post_content_<%= post.id %>" class="post_content_area"><%= raw truncate(post.content, :length => 320, :omission => link_to(' ... (Read More)', post_path(post.id), :method => :get, :remote => true, :class => "orange_text")) %></div>
			<ul>
				<li class="comment_links"><span id="comment_<%= post.id %>" post-id="<%= post.id %>" class="orange_text news_comment" style="cursor:pointer">Comment</span></li>  
				<% if !post.comments.empty? && post.comments.count > 3 %> 
					<li style="float:left; width:145px;color:#F47D29"><%= link_to "View all #{pluralize(post.comments.count, " comment")}", post_commments_path(post.id), :method => :get, :remote => true, :class => "orange_text" %></li>
				<% end %>
				<% if !post.user.nil? && @current_user.id == post.user.id %>
					<li style="float:left; color:#F47D29"><%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :class => "orange_text" %></li> 
				<% end %>
			</ul>
			<div class="clear"></div>
			</div>
		</div>
		<div id="comments_<%= post.id %>" class="comments">
			<% unless post.comments.empty? %> 
				<%= render post.comments.first(3) %>	
			<% end %>
		</div>
		<div id="new_comment_section_<%= post.id %>" style="<%= post.comments.empty? ? "display:none" : "display:none" %>" class="new_comment_section" >  	
			<%= form_for Comment.new, :remote => true do |f| %>
			  <%= f.hidden_field :post_id, :value => "#{post.id}" %>
			  <div class="text_background">
			  <%= f.text_area :content, :id => "comment_area_#{post.id}", :title => "Share your comment", :class => "comment_textarea"  %>
			  </div>
			  <%= f.submit "Reply", :class =>"form_button", :id=>"reply_button"%>
			<% end %>
		</div>
		<hr style="margin-top: 10px;"/>
	</div>
<% end %>
<% else %>
  <div id="news">
  	<%= image_tag "photo_place_holder.png", :alt => 'Caregaroo' , :height => "44", :width => "50", :style => "float:left;padding-right:5px" %>
  	<div class="comment_content">
		<span class="name_text">Caregaroo</span>
		<br/>
		Welcome to Caregaroo! Invite others in your circle of care to join the network. <%= link_to "Invite", invite_path, :class => "orange_text" %><br/>
		<div class="clear"></div>
	</div>
  </div>
<% end %>
   </td>
  </tr>
</table>

