<%= form_for @network, :url => register_path do |f| %>
  <%= render "shared/error_messages", :target => @network %>  
  <h3>Network</h3>
  <p>
	<%= f.label :network_name %>
	<%= f.text_field :network_name %>
    <%= f.label :network_for_who %>
	<%= f.text_field :network_for_who %>
	<%= f.fields_for :users do |u| %>
	    <%= u.label :network_relationship, 'Relationship to the person at the centre of network' %>
	    <%= u.text_field :network_relationship %>
	  </p>
	  <h3>Profile</h3>
	  <p>
	    <%= u.label :email %>
	    <%= u.text_field :email %>
	    <%= u.label :first_name %>
	    <%= u.text_field :first_name %><br/>
	    <%= u.label :last_name %>
	    <%= u.text_field :last_name %><br/>
	    <%= u.label :password %>
	    <%= u.password_field :password %><br/>
	    <%= u.label :password_confirmation %>
	    <%= u.password_field :password_confirmation %>
	  </p>
	<% end %>
  <p><%= link_to "Cancel", root_path %> <%= f.submit "Register" %> </p>
<% end %>


