<div id="register_box" >
	<div id="description_div">
	<h3 class="page_title">Create a Caregaroo Network</h3>
	<p>You are about to create a Caregaroo network. In two easy steps. The first step is to name the network and identify the person at the center of the network. The second step is to create your account</p>
	</div>

	<%= form_for @network, :url => register_path do |f| %>
	  <%= render "shared/error_messages", :target => @network %>  
	  	
	  	<div class="clear_format">  
	  	<%= image_tag "num1.png", :alt => "Step 1", :class=>"num_icon" %>
	  	<div id="vertical_line"></div>	
	  	<%= f.label :network_name, :class=>"right_text_with_icon label_space" %> 
	  	<%= f.text_field :network_name, :size=>35, :class=>"right_text_with_icon field_space" %>
	  	<%= f.label :network_for_who, :class=>"right_text_with_icon label_space" %> 
	  	<%= f.text_field :network_for_who, :size=>35, :class=>"right_text_with_icon field_space" %>  	
	  	</div>
	  	<br/><br/>
		<%= f.fields_for :users do |u| %>
			<div class="clear_format">
			<%= image_tag "num2.png", :alt => "Step 2", :class=>"num_icon" %>  		
		    <%= u.label :email, :class=>"right_text_with_icon label_space" %>
		    <%= u.text_field :email, :size=>35, :class=>"right_text_with_icon field_space" %>
		    <%= u.label :first_name, :class=>"right_text_with_icon label_space" %>
		    <%= u.text_field :first_name, :size=>35, :class=>"right_text_with_icon field_space" %>
		    <%= u.label :last_name, :class=>"right_text_with_icon label_space" %>
		    <%= u.text_field :last_name, :size=>35, :class=>"right_text_with_icon field_space" %><br class="clear_format"/><br/>
		    <%= u.label :password, :class=>"right_text_with_icon label_space" %>
		    <%= u.password_field :password, :size=>35, :class=>"right_text_with_icon" %>
		    <p class="right_text_with_icon note_text">Password must contain at least 6 characters.</p>
		    <%= u.label :password_confirmation, :class=>"right_text_with_icon label_space" %>
		    <%= u.password_field :password_confirmation, :size=>35, :class=>"right_text_with_icon field_space" %>
		    <%= u.label :network_relationship, 'Relationship to the person at the centre of network', :class=>"right_text_with_icon label_space" %>
		    <%= u.text_field :network_relationship, :size=>35, :class=>"right_text_with_icon field_space" %>
		   </div>
		<% end %>
		
		<div class="clear_format">
			<br/>
			
			<div class="right_text_with_icon">
		    <%= check_box_tag :notification %> Email me Caregaroo news and announcements.
			</div>
		    <div class="right_text_with_icon">
			    <%= check_box_tag :tos %> I have read and agree to the Terms of Services
			</div>
			
			<!-- not letting user cancel?
				<%= link_to "Cancel", root_path , :class=>"right_text"%>--> 
			<br style="clear:both"/>
		 	<%= f.submit "Create Network", :class=>"form_button", :id=>"create_btn"%> 
	 	</div>

	<% end %>

</div>

