<%= form_for @user, :url => signup_create_path do |f| %>
  <%= render "shared/error_messages", :target => @user %>  
  <%= render "#{@user.current_step}_step", :f => f %>
  <p><%= f.submit "Continue" %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @user.first_step? %></p>
<% end %>


<p><%= link_to "Back to Home", root_path %></p>
