<div><%= render 'sub_nav' %></div>

<%= form_for @current_user, :url => update_info_profile_path, :method => :post, :html => { :id => 'update_info_form' } do |f| %>
  <%= render "shared/error_messages", :target => @current_user %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

