<%= image_tag ( !@user.avatar.nil? ? @user.avatar.url() : "photo_place_holder.png" ), :alt => @user.first_name, :class=>"profile_user_pic" %>
<p class="name_text"><%= @user.first_name %> <%= @user.last_name %> (<%= @user.network_relationship %>)</p><br/>
<%= form_for @user, :url => update_info_profile_path, :method => :post, :html => { :multipart => true, :id => 'update_profile_form' } do |f| %>
<div style="margin-top:10px">
  <%= render "shared/error_messages", :target => @user %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
  <h3 class="page_title" style="margin-top:10px;">My account settings</h3>
  <p class="sub_header">BASICS</p>
  <hr/>
  <div class="profile_content">
	  <div class="row_space"><div class="left_text"><%= f.label :first_name, 'First Name:'%> </div><div class="right_text"><%= f.text_field :first_name, :size => "35" %></div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :last_name, 'Last Name:'%> </div><div class="right_text"><%= f.text_field :last_name, :size => "35" %></div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :email, 'Email:'%> </div><div class="right_text"><%= f.text_field :email, :size => "35" %></div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :newwork_relationship, 'Relationship:'%> </div><div class="right_text"><%= f.text_field :network_relationship, :size => "35" %></div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :avatar, 'Photo:'%> </div><div class="right_text"><%= f.file_field :avatar %></div></div>
  </div>
  <br/>
  <p class="sub_header">PASSWORD</p>
  <hr/>
  <div class="profile_content">
	  <div class="row_space"><div class="left_text"><%= f.label :password, 'Old Password:'%> </div><div class="right_text_2"><%= password_field_tag :old_password, '', :size => 26 %>  
	  	<a href="/password_resets" class="forgot_pw_link"><span class="orange_text" >Forgotten password?</span></a></div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :password, 'New Password:'%> </div><div class="right_text_2"><%= f.password_field :password, :size => "26" %>  </div></div>
	  <div class="row_space"><div class="left_text"><%= f.label :password_confirmation, 'Confirm New Password:'%> </div><div class="right_text_2"><%= f.password_field :password_confirmation, :size => "26" %>  </div><br /></div>
  </div>
  <p class="sub_header">SEND ME A NOTIFICATION:</p>
  <hr/>
  <div class="profile_content">
  	<%= f.fields_for :notification do |n|%>
  	<div class="row_space"><div class="left_text">When Caregaroo Team has an announcement about the site</div><div><%= n.check_box :announcement, :style => "float:right" %></div></div>
  	<div class="row_space"><div class="left_text">When someone posts an update or comment</div><div><%= n.check_box :post_update, :style => "float:right" %></div></div>
  	<% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save Updates", :class =>"form_button", :id=>"save_updates_button"%>
  </div>
<% end %>

