<% if !@user.nil? %>
<% if @user.id == @current_user.id %>
	<%= render 'sub_nav' %><%= link_to "Edit", edit_info_profile_path, :class=>"orange_button_link"%>
	<hr/>
<% end %>

<p id="notice"><%= notice %></p>
<% if !@user.nil? %>
	<p class="sub_header">BASICS</p>
	<hr/>
	<div class="left_text">Name:</div><div class="right_text"><%= @user.first_name %> <%= @user.last_name %></div><br/>
	<div class="left_text">Email:</div><div class="right_text"><%= @user.email %></div>
<% else %>
	<p>There's no profile.</p>
<% end %>
<% if !@user.profile.nil? %>
	<p>
	  <b>Bio:</b>
	  <%= @user.profile.bio %>
	</p>
	
	<p>
	  <b>Location:</b>
	  <%= @user.profile.location %>
	</p>
	
	<p>
	  <b>Significant other:</b>
	  <%= @user.profile.significant_other %>
	</p>
	
	<p>
	  <b>Kids name:</b>
	  <%= @user.profile.kids_name %>
	</p>
	
	<p>
	  <b>Birthdate:</b>
	  <%= @user.profile.birthdate %>
	</p>
	
	<p>
	  <b>Expertise:</b>
	  <%= @user.profile.expertise %>
	</p>
	
	<p>
	  <b>Can help with:</b>
	  <%= @user.profile.can_help_with %>
	</p>
	
	<p>
	  <b>Phone work:</b>
	  <%= @user.profile.phone_work %>
	</p>
	
	<p>
	  <b>Phone mobile:</b>
	  <%= @user.profile.phone_mobile %>
	</p>
<% end %>
<% else %>
	<p>Profile not found.</p>
<% end %>


