<!DOCTYPE HTML> <html lang="en"> 
<head>
<meta charset="utf-8">
<title>Caregaroo: Home Care Coordination</title> <meta name="keywords" content="" /> 
<meta name="description" content="Caregaroo is a private online community for families to share news, coordinate care and contribute to help older parents living independantly." /> 
<meta name="robots" content="index, follow" /> 
<meta name="viewport" content="width=device-width; initial-scale=1.0;maximum-scale=1.0;">
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" href="favicon.ico">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="/js/jquery.hint-with-password.js"></script> 
<%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %>">
<div id="header_frame"> 
	<div id="app_logo">
		<a href="<%= url_for root_path %>" style="outline:0;" id="top_nav_logo" title="Home Care Coordination"><%= image_tag "logo_app.png", :alt => "caregaroo logo" %></a>
	</div>
	<div id="top_nav_separator"></div>
</div>
<div id="main_frame">
	<div id="container_nonav">
	    <%= yield %>
    </div>
</div>
</body>
</html>
