<!DOCTYPE HTML> <html lang="en"> 
<head>
<meta charset="utf-8">
<title>Caregaroo: Home Care Coordination</title> <meta name="keywords" content="" /> 
<meta name="description" content="Caregaroo is a private online community for families to share news, coordinate care and contribute to help older parents living independantly." /> 
<meta name="robots" content="index, follow" /> 
<meta name="viewport" content="width=device-width; initial-scale=1.0;maximum-scale=1.0;">
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" href="favicon.ico">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> 
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
<%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %>">
<div id="header_frame"> 
	<a href="http://caregaroo.com" id="top_nav_logo" title="Home Care Coordination"> <img src="img/LogoForApp.png" alt="caregaroo logo"/> </a>
	<div id="top_nav_msg_icon"> </div>
	<div id="user_selector">
		
		<% if current_user %>
		<dl id="user_dropdown" class="dropdown">
			<dt><a href="#"><div id="user_icon"></div><span><%= current_user.first_name %></span></a></dt>
	        <dd><ul>
				<li style="width:200px;"><span><a href="#">Settings</a></li><li><%= link_to "Log out", logout_path %></span></li>
			</ul></dd>
		</dl>
     	<% else %>
        	<%= link_to "Create Community", register_path %> or
        	<%= link_to "Member Sign-In", login_path %>
      	<% end %>
  	</div>

  	
  	<div id="top_nav_separator"></div>
</div><!--header_frame-->

<div id="main_frame">
    <div id="user_nav">
    	<div id="CoC_frame">
    		<!-- need picture of network centre-->
    		<img id="CoC_Pic" src="../img/placeHolder.png" alt="circle placeholder image" height="45" width="50" >
    		<!-- need name of network -->
    		<div id="CoC_right">
    		<p id="CoC_name">Saye's Awesome Health Care Circle </p>
    		</div>
    	</div><!--CoC_frame-->
    	
    	<h6 id="nav_list_header">NETWORKS</h6>
    	
    	<ul id="nav_list">	
	      <li id="nav_msg_board"><%= link_to "News Stream", news_path %></li>
	      <li id="nav_invite"><a href="/invite" id="invite" class="send_invite" onclick="_gaq.push(['_trackEvent', 'Links', 'Send Invite', 'Send Invite']);" title="Send Invite">Invite</a></li>     
	      <!--
	      <li id="nav_calendar"><%= link_to "Calendar", calendar_path %></li>
	      <li id="nav_private_msg"><%= link_to "Private Messages", messages_path %></li>
	      <li id="nav_my_profile"><%= link_to "My Profile", profile_path %></li>
	      <li id="nav_members"><%= link_to "Members", members_path %></li>
	      -->
  		</ul>
  		<% if @page == 'posts' %>	
  		<div id="nav_list_highlight" class="hl_posts"></div>
  		<%end%>

		</br>
		<h6 id="member_list_header">MEMBERS</h6>
		<ul id="member_list">	
			<!-- TODO: Need member info and pictures here-->
			<li><img src="img/placeHolder.png" alt="placeholder icon" height="30" width="33" style="float:left;padding-right:5px">Member No.1</li>
			<li><img src="img/placeHolder.png" alt="placeholder icon" height="30" width="33" style="float:left;padding-right:5px">Member No.2</li>
			<li><img src="img/placeHolder.png" alt="placeholder icon" height="30" width="33" style="float:left;padding-right:5px">Member No.3</li>
			<li><img src="img/placeHolder.png" alt="placeholder icon" height="30" width="33" style="float:left;padding-right:5px">Member No.4</li>
			<li><img src="img/placeHolder.png" alt="placeholder icon" height="30" width="33" style="float:left;padding-right:5px">Member No.5</li>
			<li>All Members</li>
		</ul>
		
    </div><!--user_nav-->
    
	<div id="container">
	    <% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>
	    <%= yield %>
 	</div><!--container"-->
    
    <div id="shortcuts">
    	<div id="invite_shortcut">
			<img id="invite_shortcut_icon" src="img/InviteFriends.png" alt="Invite Friends" >
			<p>	Invite friends and family to join someone's community.</p>
			<div class="shortcut_icon"></div>
			<a href="/invite" id="send_invite" class="send_invite" onclick="_gaq.push(['_trackEvent', 'Links', 'Send Invite', 'Send Invite']);" title="Send Invite">Send Invite</a>
		</div>
		<!--
		<br/>
		<hr/>
		<div id="contact_shortcut">
			<img id="contatct_shortcut_icon" src="img/ContactDetails.png" alt="Update Contact Details"> 
			<p>Make sure your contact information is up to date.</p>
			<input type="button" value="Update Now!" style="float:left;"/><br/>
		</div>
		<br/>
		-->
	
		<hr/>
		<div id="questions_shortcut">
			<img id="questions_shortcut_icon" src="img/QuestionsForCaregaroo.png" alt="Questions" > 
			<p>Need someone to guide you through our website? Got feedback?</p>
			<div class="shortcut_icon"></div>
			<a href="mailto:support@caregaroo.com?Subject=Feedback" id="emailUs" class="" onclick="_gaq.push(['_trackEvent', 'Links', 'Email us', 'Email us']);" title="Email us now!">Email us now!</a>
		<hr/>
    </div><!--shortcuts-->
</div><!--mainframe-->
</body>
</html>
