<!DOCTYPE HTML> <html lang="en"> 
<head>
<meta charset="utf-8">
<title>Caregaroo: Home Care Coordination</title> <meta name="keywords" content="" /> 
<meta name="description" content="Caregaroo is a private online community for families to share news, coordinate care and contribute to help older parents living independantly." /> 
<meta name="robots" content="index, follow" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" href="favicon.ico">
<%= stylesheet_link_tag "marketing_new" %>
<%= javascript_include_tag "marketing_new" %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %>">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <!-- Be sure to leave the brand out there if you want it shown -->
		      <a href="<%= url_for root_path %>" class="brand"><div id="site_logo"></div></a>         
		      <!-- Everything you want hidden at 940px or less, place within here -->
		      <div class="nav-collapse">
	            <ul class="nav pull-right" style="margin-top:20px;">
	            	<li><div style="vertical-align:middle; margin:8px 10px 8px 0px"><a href="https://twitter.com/CaregarooTweet" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Tweet</a></li>
                    <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FCaregaroo&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;margin-top:8px" allowTransparency="true"></iframe></li>
					<li><%= link_to "HOME", home_new_path %></li>
					<li><%= link_to "LEARN MORE", product_new_path %></li>
					<li><%= link_to "BLOG", "http://blog.caregaroo.com/" %></li>
					<li><a href="https://caregaroo.zendesk.com/forums" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Need Help', 'Need Help'])" title="Need help?">HELP</a></li>
	                <li><%= link_to "SIGN-IN", login_path %></li>
				</ul>
		      </div>
		    </div>
	    </div>
	  </div>
	</div>
	<div class="container">

		<div>
		    <%= yield %>
	 	</div>
 	 
	 	<div class="row"><!-- footer-->
	 		
	 		<center>
	 			<img class="separator" src="img/line.png" alt="separator line" />
	 		<div class="span4 offset4">
	 			<ul class="nav nav-pills">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Product", product_path %></li>
					<li><a href="https://caregaroo.zendesk.com/forums" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Need Help', 'Need Help'])" title="Need help?">Help</a></li>
		  		</ul>
		  	</div>
		  	<div class="span12">
	 		<p id="copyright" class="grid_14 clearfix"> Copyright 2011, Azra Ventures, All Rights Reserved | <a href="mailto:info@caregaroo.com"
			target="_blank">info@caregaroo.com</a></p>
			</div>
			</center>
	 	</div><!-- footer-->
	</div><!--container-->
</body>
</html>
