<!DOCTYPE HTML> <html lang="en"> 
<head>
<meta charset="utf-8">
<title>Caregaroo: Home Care Coordination</title> <meta name="keywords" content="" /> 
<meta name="description" content="Caregaroo is a private online community for families to share news, coordinate care and contribute to help older parents living independantly." /> 
<meta name="robots" content="index, follow" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" href="/favicon.ico">
<%= stylesheet_link_tag "jquery.fancybox-1.3.4", "marketing" %>
<%= javascript_include_tag "marketing", "jquery.fancybox-1.3.4.pack.js"%>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %> body-bg">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <!-- Be sure to leave the brand out there if you want it shown -->
		      <a href="<%= url_for root_path %>" class="brand"><div id="site_logo"></div></a>         
		      <!-- Everything you want hidden at 940px or less, place within here -->
		      <div class="nav-collapse">
	            <ul class="nav" style="margin-top:20px;">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "BENEFITS", product_path %></li>
					<li><%= link_to "BLOG", "http://blog.caregaroo.com/" %></li>
					<li><a href="https://caregaroo.zendesk.com/forums" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Need Help', 'Need Help'])" title="Need help?">HELP</a></li>
	                <li>
	                	<% if @current_user %>
	                		<%= link_to '<button class="btn btn-warning" type="button">Home</button>'.html_safe, news_path, style: "padding:0" %>
	                	<% else %>
	                		<form action="/login" method="get"><button class="btn btn-warning" type="submit" id="register_submit pull-right">Sign in</button></form>
	                	<% end %>
	                </li>
	                <li>
	                	<% if @current_user %>
	                		<%= link_to '<button class="btn btn-warning" type="button">Logout</button>'.html_safe, logout_path,style: "padding:0" %>
	                	<% else %>
	                		<a href="#join-popup" class="frustration-popup-link"><button class="btn btn-warning" type="button">Join a Network</button></a>
	                	<% end %>
	                </li>
				</ul>
		      </div>
		    </div>
	    </div>
	  </div>
	</div>
	<div class="container">
		<div>
		    <%= yield %>
	 	</div>
	 	<div class="row">
	 		<div class="span12" style="text-align: center; border-top: 1px solid #eee;margin-top: 20px">
	 			<ul class="quick-links" style="margin-top: 20px">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "BENEFITS", product_path %></li>
					<li><%= link_to "BLOG", "http://blog.caregaroo.com/" %></li>
					<li><a href="https://caregaroo.zendesk.com/forums" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Need Help', 'Need Help'])" title="Need help?">HELP</a></li>
		  		</ul>
	 			<p> Copyright 2012, Azra Ventures, All Rights Reserved | <a href="mailto:info@caregaroo.com" target="_blank">info@caregaroo.com</a></p>
		  	</div>
	 	</div>
	</div>

	<div style="display:none;">
		<div id="join-popup">
			<h1>Want to join someone's network?</h1>
			<center>
				<p>Caregaroo networks are private, if you want to join someone's network ask them to send you an invite.</p>
				<p><a target="_blank" href="https://caregaroo.zendesk.com/entries/22133826-how-do-i-find-and-join-someone-s-network">Learn more...</a></p>
					<br>
					<a href="javascript:$.fancybox.close()" ><button class="btn btn-warning" type="button">OK</button></a>
			</center>
		</div>
	</div>
	<script type="text/javascript">
	$('.frustration-popup-link').fancybox({
		autoDimensions: false,
		width: 400,
		height: 200,
		overlayColor: "#FFF",
		opacity: 0.8,
	});
	</script>
</body>
</html>
